footer {
  img {
    width: 80px;
  }
  .social-media-icons {
    width: 80%;
    @media (min-width: 768px) {
      width: 25%;
    }
  }
  .footer-ul {
    display: flex;
    justify-content: space-around;
    margin: 1.5em auto;
    @media (min-width: 768px) {
      width: 60%;
    }
    li a {
      color: $dark;
      font-weight: 600;
    }
  }
}
@import "variables";
