footer {
  padding: 0;

  img {
    width: 80px;
  }
  p {
    font-size: .8em;
  }
  .social-media-icons {
    width: 100%;
    margin: 2em auto;
     @media (min-width: 768px) {
      width: 25%;
    }
    a {
      color: $light;
      font-weight: normal;
      text-decoration: underline;
    }
  }
  .footer-ul {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    @media (min-width: 768px) {
      width: 60%;
      margin: 1.5em auto;
    }
    li a {
      color: $light;
      font-weight: normal;
      text-decoration: underline;
    }
  }
}
@import "variables";
