$primary:       #00c2cb;
$secondary:     #324B4D;
$success:       #00c2cb;
$info:          #94B0B2;
$warning:       #F9F871;
$danger:        #882100;
$light:         #E6F4F1;
$dark:          #003842;

@import "../node_modules/bootstrap/scss/bootstrap";

